<h1>Bike Shop</h1>

<% @accessories.each_with_index do |item, index| %>
  <div class="bike_shop_item_<%=index + 1%>">
    <ul>
      <img src= "<%= item.image %>" />
      <li><%= link_to item.title, accessory_path(item) %></li>
      <li><%= number_to_currency(item.price) %></li>
      <li><%= item.description %></li>
      <li><%= button_to "Add to Cart", cart_path(item_id: item.id), method: "post", class: "btn"%></li>
    </ul>
  </div>
<% end %>
