<div class="user-form-container container">
  <h1>Create a new condition:</h1>
  <div class="user-form">
    <%= form_for [@admin, @condition] do |f| %>
      <div class="form-section">
        <%= f.label :date, style: "margin-bottom:2%" %>:
        <%= f.date_field :date, class: "form-control" %>
      </div>
    </br>
      <div class="form-section">
        <%= f.label :max_temp, style: "margin-bottom:2%" %>:
        <%= f.number_field :max_temp, class: "form-control", placeholder: "Enter max temp in fahrenheit" %>
      </div>
    </br>
      <div class="form-section">
        <%= f.label :mean_temp, style: "margin-bottom:2%" %>:
        <%= f.number_field :mean_temp, class: "form-control", placeholder: "Enter mean temp in fahrenheit" %>
      </div>
    </br>
      <div class="form-section">
        <%= f.label :min_temp, style: "margin-bottom:2%" %>:
        <%= f.number_field :min_temp, class: "form-control", placeholder: "Enter min temp in fahrenheit" %>
      </div>
    </br>
      <div class="form-section">
        <%= f.label :mean_humidity, style: "margin-bottom:2%"%>:
        <%= f.number_field :mean_humidity, class: "form-control", placeholder: "Enter mean humidity" %>
      </div>
    </br>
      <div class="form-section">
        <%= f.label :mean_visibility, style: "margin-bottom:2%" %>:
        <%= f.number_field :mean_visibility, class: "form-control", placeholder: "Enter mean visibility" %>
      </div>
      <div class="form-section">
        <%= f.label :mean_wind_speed, style: "margin-bottom:2%" %>:
        <%= f.number_field :mean_wind_speed, class: "form-control", placeholder: "Enter mean wind speed" %>
      </div>
      <div class="form-section">
        <%= f.label :precip, style: "margin-bottom:2%" %>:
        <%= f.number_field :precip, class: "form-control", placeholder: "Enter mean precipitation" %>
      </div>
    </br>
      <div class="form-section">
        <%= f.submit 'Submit', class: "btn" %>
      </div>
    <% end  %>
  </div>
</div>
