<h1>Condition Dashboard</h1>
<br>
<div class='table-holder'>
<table class='condition-table max-temp-table'>
  <caption><h2>RIDES BASED ON MAX TEMP</h2></caption>
  <tr>
    <th>Temp. Increments </th>
    <th>Avg. # of Rides</th>
    <th>Highest # of Rides</th>
    <th>Lowest # of Rides</th>
  </tr>
  <tr>
    <td>40.0 - 49.9</td>
    <td><%= @max_40[:avg] %></td>
    <td><%= @max_40[:high] %></td>
    <td><%= @max_40[:low] %></td>
  </tr>
  <tr>
    <td>50.0 - 59.9</td>
    <td><%= @max_50[:avg] %></td>
    <td><%= @max_50[:high] %></td>
    <td><%= @max_50[:low] %></td>
  </tr>
  <tr>
    <td>60.0 - 69.9</td>
    <td><%= @max_60[:avg] %></td>
    <td><%= @max_60[:high] %></td>
    <td><%= @max_60[:low] %></td>
  </tr>
  <tr>
    <td>70.0 - 79.9</td>
    <td><%= @max_70[:avg] %></td>
    <td><%= @max_70[:high] %></td>
    <td><%= @max_70[:low] %></td>
  </tr>
  <tr>
    <td>80.0 - 89.9</td>
    <td><%= @max_80[:avg] %></td>
    <td><%= @max_80[:high] %></td>
    <td><%= @max_80[:low] %></td>
  </tr>
  <tr>
    <td>90.0 - 99.9</td>
    <td><%= @max_90[:avg] %></td>
    <td><%= @max_90[:high] %></td>
    <td><%= @max_90[:low] %></td>
  </tr>
</table>
<br>
<br>

<br>
<table class='condition-table precip-table'>
  <caption><h2>RIDES BASED ON PRECIPITATION</h2></caption>
  <tr>
    <th>Precip. Increments</th>
    <th>Avg. # of Rides</th>
    <th>Highest # of Rides</th>
    <th>Lowest # of Rides</th>
  </tr>
  <tr>
    <td>0.0 - 0.5</td>
    <td><%= @precip0_5[:avg] %></td>
    <td><%= @precip0_5[:high] %></td>
    <td><%= @precip0_5[:low] %></td>
  </tr>
  <tr>
    <td>0.5 - 1.0</td>
    <td><%= @precip5_1[:avg] %></td>
    <td><%= @precip5_1[:high] %></td>
    <td><%= @precip5_1[:low] %></td>
  </tr>
  <tr>
    <td>1.0 - 1.5</td>
    <td><%= @precip_1_5[:avg] %></td>
    <td><%= @precip_1_5[:high] %></td>
    <td><%= @precip_1_5[:low] %></td>
  </tr>
  <tr>
    <td>1.5 - 2.0</td>
    <td><%= @precip_5_2[:avg] %></td>
    <td><%= @precip_5_2[:high] %></td>
    <td><%= @precip_5_2[:low] %></td>
  </tr>
  <tr>
    <td>2.0 - 2.5</td>
    <td><%= @precip_2_5[:avg] %></td>
    <td><%= @precip_2_5[:high] %></td>
    <td><%= @precip_2_5[:low] %></td>
  </tr>
  <tr>
    <td>2.5 - 3.0</td>
    <td><%= @precip_5_3[:avg] %></td>
    <td><%= @precip_5_3[:high] %></td>
    <td><%= @precip_5_3[:low] %></td>
  </tr>
  <tr>
    <td>3.0 - 3.5</td>
    <td><%= @precip_3_5[:avg] %></td>
    <td><%= @precip_3_5[:high] %></td>
    <td><%= @precip_3_5[:low] %></td>
  </tr>
</table>

<br>
<table class='condition-table mean-wind-table'>
  <caption><h2>RIDES BASED ON WIND SPEED</h2></caption>
  <tr>
    <th>Wind Increments</th>
    <th>Avg. # of Rides</th>
    <th>Highest # of Rides</th>
    <th>Lowest # of Rides</th>
  </tr>
  <tr>
    <td>0.0 - 3.0</td>
    <td><%= @wind_3[:avg] %></td>
    <td><%= @wind_3[:high] %></td>
    <td><%= @wind_3[:low] %></td>
  </tr>
  <tr>
    <td>4.0 - 7.0</td>
    <td><%= @wind_7[:avg] %></td>
    <td><%= @wind_7[:high] %></td>
    <td><%= @wind_7[:low] %></td>
  </tr>
  <tr>
    <td>8.0 - 11.0</td>
    <td><%= @wind_11[:avg] %></td>
    <td><%= @wind_11[:high] %></td>
    <td><%= @wind_11[:low] %></td>
  </tr>
  <tr>
    <td>12.0 - 15.0</td>
    <td><%= @wind_15[:avg] %></td>
    <td><%= @wind_15[:high] %></td>
    <td><%= @wind_15[:low] %></td>
  </tr>
  <tr>
    <td>16.0 - 19.0</td>
    <td><%= @wind_19[:avg] %></td>
    <td><%= @wind_19[:high] %></td>
    <td><%= @wind_19[:low] %></td>
  </tr>
</table>


<br>
<table class='condition-table mean-vis-table'>
  <caption><h2>RIDES BASED ON VISIBILITY</h2></caption>
  <tr>
    <th>Vis. Increments Miles</th>
    <th>Avg. # of Rides</th>
    <th>Highest # of Rides</th>
    <th>Lowest # of Rides</th>
  </tr>
  <tr>
    <td>0.0 - 3.0</td>
    <td><%= @vis_3[:avg] %></td>
    <td><%= @vis_3[:high] %></td>
    <td><%= @vis_3[:low] %></td>
  </tr>
  <tr>
    <td>4.0 - 7.0</td>
    <td><%= @vis_7[:avg] %></td>
    <td><%= @vis_7[:high] %></td>
    <td><%= @vis_7[:low] %></td>
  </tr>
  <tr>
    <td>8.0 - 11.0</td>
    <td><%= @vis_11[:avg] %></td>
    <td><%= @vis_11[:high] %></td>
    <td><%= @vis_11[:low] %></td>
  </tr>
  <tr>
    <td>12.0 - 15.0</td>
    <td><%= @vis_15[:avg] %></td>
    <td><%= @vis_15[:high] %></td>
    <td><%= @vis_15[:low] %></td>
  </tr>
  <tr>
    <td>16.0 - 19.0</td>
    <td><%= @vis_19[:avg] %></td>
    <td><%= @vis_19[:high] %></td>
    <td><%= @vis_19[:low] %></td>
  </tr>
</table>
</div>
