<h1>Condition Dashboard</h1>
<h2>RIDES BASED ON MAX TEMP</h2>
<br>
<table class='max-temp-table'>
  <tr>
    <th>Temp. Increments °F</th>
    <th>Avg. # of Rides</th>
    <th>Highest # of Rides</th>
    <th>Lowest # of Rides</th>
  </tr>
  <tr>
    <td>40.0 - 49.9</td>
    <td><%= @max_40[:avg] %>°F</td>
    <td><%= @max_40[:high] %>°F</td>
    <td><%= @max_40[:low] %>°F</td>
  </tr>
  <tr>
    <td>50.0 - 59.9</td>
    <td><%= @max_50[:avg] %>°F</td>
    <td><%= @max_50[:high] %>°F</td>
    <td><%= @max_50[:low] %>°F</td>
  </tr>
  <tr>
    <td>60.0 - 69.9</td>
    <td><%= @max_60[:avg] %>°F</td>
    <td><%= @max_60[:high] %>°F</td>
    <td><%= @max_60[:low] %>°F</td>
  </tr>
  <tr>
    <td>70.0 - 79.9</td>
    <td><%= @max_70[:avg] %>°F</td>
    <td><%= @max_70[:high] %>°F</td>
    <td><%= @max_70[:low] %>°F</td>
  </tr>
  <tr>
    <td>80.0 - 89.9</td>
    <td><%= @max_80[:avg] %>°F</td>
    <td><%= @max_80[:high] %>°F</td>
    <td><%= @max_80[:low] %>°F</td>
  </tr>
  <tr>
    <td>90.0 - 99.9</td>
    <td><%= @max_90[:avg] %>°F</td>
    <td><%= @max_90[:high] %>°F</td>
    <td><%= @max_90[:low] %>°F</td>
  </tr>
</table>
<br>
<br>
<h2>RIDES BASED ON PRECIPITATION</h2>
<br>
<table class='precip-table'>
  <tr>
    <th>Precip. Increments</th>
    <th>Avg. # of Rides</th>
    <th>Highest # of Rides</th>
    <th>Lowest # of Rides</th>
  </tr>
  <tr>
    <td>0.0 - 0.5</td>
    <td><%= @precip0_5[:avg] %> inches</td>
    <td><%= @precip0_5[:high] %> inches</td>
    <td><%= @precip0_5[:low] %> inches</td>
  </tr>
  <tr>
    <td>0.5 - 1.0</td>
    <td><%= @precip5_1[:avg] %> inches</td>
    <td><%= @precip5_1[:high] %> inches</td>
    <td><%= @precip5_1[:low] %> inches</td>
  </tr>
  <tr>
    <td>1.0 - 1.5</td>
    <td><%= @precip_1_5[:avg] %> inches</td>
    <td><%= @precip_1_5[:high] %> inches</td>
    <td><%= @precip_1_5[:low] %> inches</td>
  </tr>
  <tr>
    <td>1.5 - 2.0</td>
    <td><%= @precip_5_2[:avg] %> inches</td>
    <td><%= @precip_5_2[:high] %> inches</td>
    <td><%= @precip_5_2[:low] %> inches</td>
  </tr>
  <tr>
    <td>2.0 - 2.5</td>
    <td><%= @precip_2_5[:avg] %> inches</td>
    <td><%= @precip_2_5[:high] %> inches</td>
    <td><%= @precip_2_5[:low] %> inches</td>
  </tr>
  <tr>
    <td>2.5 - 3.0</td>
    <td><%= @precip_5_3[:avg] %> inches</td>
    <td><%= @precip_5_3[:high] %> inches</td>
    <td><%= @precip_5_3[:low] %> inches</td>
  </tr>
  <tr>
    <td>3.0 - 3.5</td>
    <td><%= @precip_3_5[:avg] %> inches</td>
    <td><%= @precip_3_5[:high] %> inches</td>
    <td><%= @precip_3_5[:low] %> inches</td>
  </tr>
</table>

<h2>RIDES BASED ON WIND SPEED</h2>
<br>
<table class='mean-wind-table'>
  <tr>
    <th>Wind Increments</th>
    <th>Avg. # of Rides</th>
    <th>Highest # of Rides</th>
    <th>Lowest # of Rides</th>
  </tr>
  <tr>
    <td>0.0 - 3.0</td>
    <td><%= @wind_3[:avg] %> mph</td>
    <td><%= @wind_3[:high] %> mph</td>
    <td><%= @wind_3[:low] %> mph</td>
  </tr>
  <tr>
    <td>4.0 - 7.0</td>
    <td><%= @wind_7[:avg] %> mph</td>
    <td><%= @wind_7[:high] %> mph</td>
    <td><%= @wind_7[:low] %> mph</td>
  </tr>
  <tr>
    <td>8.0 - 11.0</td>
    <td><%= @wind_11[:avg] %> mph</td>
    <td><%= @wind_11[:high] %> mph</td>
    <td><%= @wind_11[:low] %> mph</td>
  </tr>
  <tr>
    <td>12.0 - 15.0</td>
    <td><%= @wind_15[:avg] %> mph</td>
    <td><%= @wind_15[:high] %> mph</td>
    <td><%= @wind_15[:low] %> mph</td>
  </tr>
  <tr>
    <td>16.0 - 19.0</td>
    <td><%= @wind_19[:avg] %> mph</td>
    <td><%= @wind_19[:high] %> mph</td>
    <td><%= @wind_19[:low] %> mph</td>
  </tr>
</table>

<h2>RIDES BASED ON VISIBILITY</h2>
<br>
<table class='mean-vis-table'>
  <tr>Vis. Increments Miles</th>
    <th>Avg. # of Rides</th>
    <th>Highest # of Rides</th>
    <th>Lowest # of Rides</th>
  </tr>
  <tr>
    <td>0.0 - 3.0</td>
    <td><%= @vis_3[:avg] %> miles</td>
    <td><%= @vis_3[:high] %> miles</td>
    <td><%= @vis_3[:low] %> miles</td>
  </tr>
  <tr>
    <td>4.0 - 7.0</td>
    <td><%= @vis_7[:avg] %> miles</td>
    <td><%= @vis_7[:high] %> miles</td>
    <td><%= @vis_7[:low] %> miles</td>
  </tr>
  <tr>
    <td>8.0 - 11.0</td>
    <td><%= @vis_11[:avg] %> miles</td>
    <td><%= @vis_11[:high] %> miles</td>
    <td><%= @vis_11[:low] %> miles</td>
  </tr>
  <tr>
    <td>12.0 - 15.0</td>
    <td><%= @vis_15[:avg] %> miles</td>
    <td><%= @vis_15[:high] %> miles</td>
    <td><%= @vis_15[:low] %> miles</td>
  </tr>
  <tr>
    <td>16.0 - 19.0</td>
    <td><%= @vis_19[:avg] %> miles</td>
    <td><%= @vis_19[:high] %> miles</td>
    <td><%= @vis_19[:low] %> miles</td>
  </tr>
</table>
