<h1>Condition</h1>

<ul>
  <li>Date: <%= @condition.date %></li>
  <li>Max Temperature: <%= @condition.max_temp %> °F</li>
  <li>Mean Temperature: <%= @condition.mean_temp %> °F</li>
  <li>Min Temperature: <%= @condition.min_temp %> °F</li>
  <li>Mean Humidity: <%= @condition.mean_humidity %>%</li>
  <li>Mean Visibility: <%= @condition.mean_visibility %> miles</li>
  <li>Mean Wind Speed: <%= @condition.mean_wind_speed %> mph</li>
  <li>Precipitation: <%= @condition.precip %></li>
</ul>