<% if current_admin? %>
  <h1>Admin Condition</h1>
<% else %>
  <h1>Condition</h1>
<% end %>
</br>

<ul>
  <li>Date: <%= @condition.date.strftime("%m/%d/%Y") %></li>
  <li>Max Temperature: <%= @condition.max_temp %> °F</li>
  <li>Mean Temperature: <%= @condition.mean_temp %> °F</li>
  <li>Min Temperature: <%= @condition.min_temp %> °F</li>
  <li>Mean Humidity: <%= @condition.mean_humidity %>%</li>
  <li>Mean Visibility: <%= @condition.mean_visibility %> miles</li>
  <li>Mean Wind Speed: <%= @condition.mean_wind_speed %> mph</li>
  <li>Precipitation: <%= @condition.precip %></li>
  <% if current_admin? %>
    <li><%= link_to "Edit", edit_admin_condition_path(@condition) %></li>
    <li><%= link_to "Delete", admin_condition_path(@condition), method: :delete %></li>
  <% end %>
</ul>
