<h1>Trips Dashboard</h1>
<h2>Average Duration: <%= @average %> minutes</h2>
<h2>Longest Ride: <%=@longest %> minutes</h2>
<h2>Shortest Ride: <%=@shortest %> minutes</h2>
<h2>Start Station with most trips: <%= @most_rides_start.count %> trips at <%=@most_rides_start.name%> </h2>
<h2>End Station with most trips: <%= @most_rides_end.count %> trips at <%=@most_rides_end.name%> </h2>
<h2>Bike with the most rides: Bike <%=@most_bike_rides.bike_id%> had  <%=@most_bike_rides.count %> rides</h2>
<h2>Bike with the least rides: Bike <%=@least_bike_rides.bike_id%> had <%=@least_bike_rides.count%> rides</h2>
