<h1>Trips Dashboard</h1>
<h2>Average Duration: <%= @average %></h2>
<h2>Longest Ride: <%=@longest %></h2>
<h2>Shortest Ride: <%=@shortest %></h2>
<h2>Station with most trips: <%= @most_rides.count %> trips at <%=@most_rides.name%> </h2>
