<h1>Trips Dashboard</h1>
<h2>Average Duration: <%= @average %> seconds</h2>
<h2>Longest Ride: <%=@longest %> seconds</h2>
<h2>Shortest Ride: <%=@shortest %> seconds</h2>
<h2>Start Station with most trips: <%= @most_rides_start_count %> trips at <%=@most_rides_start_name%> </h2>
<h2>End Station with most trips: <%= @most_rides_end_count %> trips at <%=@most_rides_end_name%> </h2>
<h2>Bike with the most rides: Bike <%=@most_bike_rides_id%> had  <%=@most_bike_rides_count %> rides</h2>
<h2>Bike with the least rides: Bike <%=@least_bike_rides_id%> had <%=@least_bike_rides_count%> rides</h2>
</br>
<h2>Date with the most amount of trips: <%=@date_with_most_trips_count  %>, on <%= @date_with_most_trips_day.strftime("%m/%d/%Y")%></h2>
<ul>
  <li><h3>Weather for <%= @date_with_most_trips_day.strftime("%m/%d/%Y") %>:<h3></li>
  <li>Max Temp: <%= @weather_on_most_trips.max_temp %> °F</li>
  <li>Mean Temp: <%= @weather_on_most_trips.mean_temp %> °F</li>
  <li>Min Temp: <%= @weather_on_most_trips.min_temp %> °F</li>
  <li>Mean Humidity: <%= @weather_on_most_trips.mean_humidity %>%</li>
  <li>Mean Visibility: <%= @weather_on_most_trips.mean_visibility %> miles</li>
  <li>Mean Wind Speed: <%= @weather_on_most_trips.mean_wind_speed %> mph</li>
  <li>Mean Precipitation: <%= @weather_on_most_trips.precip %> inches</li>
</ul>
</br>
<h2>Date with the least amount of trips: <%= @date_with_least_trips_count%>, on <%= @date_with_least_trips_day.strftime("%m/%d/%Y")%></h2>
<ul>
  <li><h3>Weather for <%= @date_with_least_trips_day.strftime("%m/%d/%Y") %>:<h3></li>
  <li>Max Temp: <%= @weather_on_least_trips.max_temp %> °F</li>
  <li>Mean Temp: <%= @weather_on_least_trips.mean_temp %> °F</li>
  <li>Min Temp: <%= @weather_on_least_trips.min_temp %> °F</li>
  <li>Mean Humidity: <%= @weather_on_least_trips.mean_humidity %>%</li>
  <li>Mean Visibility: <%= @weather_on_least_trips.mean_visibility %> miles</li>
  <li>Mean Wind Speed: <%= @weather_on_least_trips.mean_wind_speed %> mph</li>
  <li>Mean Precipitation: <%= @weather_on_least_trips.precip %> inches</li>
</ul>
</br>
<h2>Subscriber breakdown: <%=@user_subscription_breakdown_count_subsriber%> subscribers and <%= @user_subscription_breakdown_count_customer %> customers. <%= @subscriber_percentage%>% subscribers and <%= @customer_percentage %>% customers.</h2>
<h2>Monthly Breakdown:<% @monthly_breakdown.each do |breakdown| %></h2>

                          <p><%= breakdown.count %> rides in <%= breakdown.month.strftime("%m/%d/%Y")%> <% end %></p>

                      
