<h1>Trips</h1>

<% @trips.each do |trip| %>
  <ul>
    <li>Duration: <%= trip.duration %></li>
    <li>Start Date: <%= trip.start_date %></li>
    <li>Start Station: <%= trip.start_station.name %></li>
    <li>End Date: <%= trip.end_date %></li>
    <li>End Station: <%= trip.end_station.name %></li>
    <li>Bike Id: <%= trip.bike_id %></li>
    <li>Subscription Type: <%= trip.subscription_type %></li>
    <li>Zip code: <%= trip.zip_code %></li>
  </ul>
  <br>
    <% end %>
    <%= will_paginate @trips %>
