<h1>Stations Dashboard</h1>

<h2>Total Stations Count: <%= @count %></h2>
<h2>Average Bikes Available Per Station: <%= @average %></h2>
<h2>Most Bikes Available: <%= @most_bikes %> at Station: <%= @station_most_bikes %></h2>
<h2>Fewest Bikes Available: <%= @least_bikes %> at Station: <%= @station_least_bikes %></h2>
<h2>Newest Installed Station: <%= @newest_station %></h2>
<h2>Oldest Installed Station: <%= @oldest_station %></h2>