<h1>Edit <%= "#{@station.name}" %></h1>
<div class="user-form-container container">
  <div class="user-form">
    <%= form_for [@admin, @station] do |f| %>
      <div class="form-section">
        <%= f.label :name, style:"margin-bottom:2%" %>:
        <%= f.text_field :name %>
      </div>
    </br>
      <div class="form-section">
        <%= f.label :dock_count, style:"margin-bottom:2%" %>:
        <%= f.text_field :dock_count %>
      </div>
    </br>
      <div class="form-section">
        <%= f.label :city, style:"margin-bottom:2%" %>:
        <%= f.text_field :city %>
      </div>
    </br>
      <div class="form-section">
        <%= f.label :installation_date, style:"margin-bottom:2%" %>:
        <%= f.text_field :installation_date %>
      </div>
    </br>
      <div class="form-section">
        <%= f.submit "Submit Changes"%>
      </div>
    <% end %>
  </div>
</div>
