<% if current_admin? %>
  <h1>Admin Station: <%= @station.name %></h1>
<% else %>
  <h1>Station: <%= @station.name %></h1>
<% end %>
</br>

<ul class='data-holder'>
  <li>Dock Count: <%= @station.dock_count %></li>
  <br>
  <li>City: <%= @station.city %></li>
  <br>
  <li>Installation Date: <%= @station.installation_date.strftime("%m/%d/%Y")%></li>
  <br>
  <% if current_user %>
      <li>Rides Started Here: <%= @station.rides_started %></li>
      <li>Rides Ended Here: <%= @station.rides_ended %></li>
      <br>
      <li>Most Frequent Destination: <%= @station.frequent_destination %></li>
      <li>Most Frequent Origin: <%= @station.frequent_origination %></li>
      <br>
      <li>Date With Most Trips: <%= @station.most_trips %></li>
      <br>
      <li>Most Frequent User Zip Code: <%= @station.frequent_zip %></li>
      <li>Most Frequently Used Bike ID: <%= @station.frequent_bike_id %></li>
  <% end %>
  <br>
  <% if current_admin? %>
    <li><%= link_to "Edit", edit_admin_station_path(@station) %></li>
    <li><%= link_to "Delete", admin_station_path(@station), method: :delete %></li>
  <% end %>
</ul>
