<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="">
  <h1 class="navbar-brand"><%= link_to "Bike Share", root_path, class: "nav-link" %></h1>
  <% if current_user.present? %>
    <p class="navbar-brand">
      <%= "Logged in as #{current_user.name} " %>
    </p>
  <% end %>

  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <% unless current_user %>
        <li class="nav-item">
          <%= link_to "Log In", login_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "Cart:", cart_path, class: "nav-link" %> <%= @cart.total_count %>
      </li>
      <li class="nav-item">
        <%= link_to "Stations", stations_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Trips", trips_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Conditions", conditions_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Bike Shop", bike_shop_path, class: "nav-link" %>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Log Out", logout_path, method: "delete", class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
