<div class="user-form-container container">
  <div class="user-form">
    <%= form_for [@admin, @station] do |f| %>
      <div class="form-section">
        <%= f.label :name %>:
        <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Enter station name" %>
      </div>
    </br>
      <div class="form-section">
        <%= f.label :dock_count %>:
        <%= f.number_field :dock_count, class: "form-control", placeholder: "Enter station dock count" %>
      </div>
    </br>
      <div class="form-section">
        <%= f.label :city %>:
        <%= f.text_field :city, class: "form-control", placeholder: "Enter station city" %>
      </div>
    </br>
      <div class="form-section">
        <%= f.label :installation_date %>:
        <%= f.date_field :installation_date, class: "form-control" %>
      </div>
    </br>
      <div class="form-section">
        <%= f.submit 'Submit', class: "btn" %>
      </div>
    <% end  %>
  </div>
</div>
