<h1>All Admin Stations</h1>
<br>
<div class='card-holder'>
  <% @stations.each do |station| %>
    <ul class="station-card">
      <li>Station: <%= link_to station.name , station_path(station) %></li>
      <li>Dock Count: <%= station.dock_count %></li>
      <li>City: <%= station.city %></li>
      <li>Install Date: <%= station.installation_date %></li>
      <li>
        <%= link_to "Edit", admin_station_path(station) %>
      </li>
      <li>
        <%= link_to "Delete", admin_station_path(station), method: "delete" %>
      </li>
    </ul>
    <br>
  <% end %>
</div>
