<div class="user-form-container container">
  <h1>Create a new station:</h1>
  <div class="user-form">
    <%= form_for [@admin, @station] do |f| %>
      <div class="form-section">
        <%= f.label :name, style: "margin-bottom:2%" %>
        <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Enter station name" %>
      </div>
    </br>
      <div class="form-section">
        <%= f.label :dock_count, style: "margin-bottom:2%" %>
        <%= f.number_field :dock_count, class: "form-control", placeholder: "Enter station dock count" %>
      </div>
    </br>
      <div class="form-section">
        <%= f.label :city, style: "margin-bottom:2%"%>
        <%= f.text_field :city, class: "form-control", placeholder: "Enter station city" %>
      </div>
    </br>
      <div class="form-section">
        <%= f.label :installation_date, style: "margin-bottom:2%" %>
        <%= f.date_field :installation_date, class: "form-control" %>
      </div>
    </br>
      <div class="form-section" id="installation_date">
        <%= f.submit 'Submit', class: "btn" %>
      </div>
    <% end  %>
  </div>
</div>
