<h1>Admin Station:<%= @station.name %></h1>

<ul>
  <li>Dock Count:<%= @station.dock_count %></li>
  <li>City:<%= @station.city %></li>
  <li>Installation Date:<%= @station.installation_date %></li>
  <li><%= link_to "Edit", edit_admin_station_path(@station) %></li>
  <li><%= link_to "Delete", admin_station_path, method: :delete %></li>
</ul>
