<h1> Order #<%= @order.id %></h1>
 <% if current_admin? %>
  <%= @user_details %> <br />
  <%= @user_address %>
  <%end %>
<br>
<p class='time-stamp'>Created: <%= @order.created_at %></p>
  <% if @order.status.downcase == "completed" || @order.status.downcase == "cancelled" %>
    <p class='time-stamp'>Status: <%= @order.status %>, <%= @order.updated_at %></p>
  <% else %>
    <p class='time-stamp'>Status: <%= @order.status %><p>
  <% end %>
</br>
<h3>Items:</h3>
<div class="cart-accessory">
<% @accessories.each do |accessory, count| %>
  <ul class="accessory-deets">
    <li>
      <img class='accessory-image' src="<%= accessory.image %>" alt="holder.jpg" height="50" width="50">
    </li>
    <li class='item-link'><%= link_to accessory.title, accessory_path(accessory) %> </li>
    <li><%= number_to_currency(accessory.price) %></li>
    <li>Qty: <%= count %></li>
    <li>Subtotal: <%= number_to_currency(accessory.price * count) %></li>
  </ul>
<% end %>
<% if current_admin? %>
  <% if @order.status.downcase == 'ordered'%>
    <%= form_for @order do |f| %>
      <%= f.button 'Mark as Paid', type: 'submit', name: 'status', value: 'paid' %>
    <% end %>
  <% end %>
  <% if @order.status.downcase == 'paid'%>
    <%= form_for @order do |f| %>
      <%= f.button 'Mark as Completed', type: 'submit', name: 'status', value: 'completed' %>
    <% end %>
  <% end %>
  <% if @order.status.downcase == 'paid' || @order.status.downcase == 'ordered' %>
    <%= form_for @order do |f| %>
      <%= f.button 'Cancel', type: 'submit', name: 'status', value: 'cancelled' %>
    <% end %>
  <% end %>
<% end %>
</div>
<h2 class='time-stamp'>Total: $<%= '%0.2f' % @total_price %></h2>
