<h1> Order #<%= @order.id %></h1>

<p>Created: <%= @order.created_at %></p>
  <% if @order.status.downcase == "completed" || @order.status.downcase == "cancelled" %>
    <p>Status: <%= @order.status %>, <%= @order.updated_at %></p>
  <% else %>
    <p>Status: <%= @order.status %><p>
  <% end %>
<h3>Items:</h3>
<% @accessories.each do |accessory, count| %>
  <ul>
    <li><%= accessory.title %>: <%= number_to_currency(accessory.price) %></li>
    <li>Qty: <%= count %></li>
    <li>Subtotal: <%= number_to_currency(accessory.price * count) %></li>
  </ul>
  <% if current_admin? %>
    <%= @user_details %>
  <% if @order.status.downcase == 'ordered'%>
    <%= form_for @order do |f| %>
      <%= f.button 'Mark as Paid', type: 'submit', name: 'status', value: 'paid' %>
    <% end %>
  <% end %>
  <% if @order.status.downcase == 'paid'%>
    <%= form_for @order do |f| %>
      <%= f.button 'Mark as Completed', type: 'submit', name: 'status', value: 'completed' %>
    <% end %>
  <% end %>
  <% if @order.status.downcase == 'paid' || @order.status.downcase == 'ordered' %>
    <%= button_to "Cancel", order_path(@order), method: 'delete'%>
  <% end %>
  <% end %>
</br>
<% end %>
<h2>Total: $<%= '%0.2f' % @total_price %></h2>
