<div class="user-form-container container">
  <h1><%= "Create a new trip:" %></h1>
  <div class="user-form">
    <%= form_for [@admin, @trip] do |f| %>
      <div class="form-section">
          <%= f.label :duration, style: "margin-bottom:2%" %>:
          <%= f.number_field :duration, autofocus: true, class: "form-control", placeholder: "Enter trip duration in seconds" %>
      </div>
    </br>
      <div class="form-section" id='start_station_dropdown'>
          <%= f.label :start_station, style: "margin-bottom:2%" %>:
          <%= f.collection_select :start_station_id, Station.all, :id, :name %>
      </div>
    </br>
      <div class="form-section">
          <%= f.label :start_date, style: "margin-bottom:2%" %>:
          <%= f.date_field :start_date, class: "form-control" %>
      </div>
    </br>
      <div class="form-section" id="end-station-dropdown">
          <%= f.label :end_station, style: "margin-bottom:2%" %>:
          <%= f.collection_select :end_station_id, Station.all, :id, :name %>
      </div>
    </br>
      <div class="form-section">
          <%= f.label :end_date, style: "margin-bottom:2%" %>:
          <%= f.date_field :end_date, class: "form-control" %>
      </div>
    </br>
    </br>
      <div class="form-section">
          <%= f.label :bike_id, style: "margin-bottom:2%" %>:
          <%= f.number_field :bike_id, class: "form-control"%>
      </div>
    </br>
      <div class="form-section">
          <%= f.label :subscription_type, style: "margin-bottom:2%" %>:
          <%= f.text_field :subscription_type, class: "form-control", placeholder: "Enter subscription type"  %>
      </div>
    </br>
      <div class="form-section">
          <%= f.label :zip_code, style: "margin-bottom:2%" %>:
          <%= f.number_field :zip_code, class: "form-control", placeholder: "Enter zip code" %>
      </div>
    </br>
      <div class="form-section">
        <%= f.submit 'Submit Changes', class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
