<h1>Cart</h1>
<div class='cart-holder'>
<% @accessories.each do |item, count| %>
<div class="cart-accessory">
  <ul class="accessory-deets">
    <li>
      <img class='accessory-image' src="<%= item.image %>" alt="holder.jpg" height="50" width="50">
    </li>
    <li>
      <%= item.title %>
    </li>
    <li>
      <%= number_to_currency(item.price) %>
    </li>
    <li>
      Qty: <%= count %>
    </li>
    <li>
      Subtotal: <%= number_to_currency(@cart.line_total(item, count)) %>
    </li>
    <li><%= button_to "Remove", cart_path(item_id: item.id), method: "delete", class: "btn"%></li>
    <li><%= button_to "Increase", cart_path(item_id: item.id), method: "put", class: "btn" %></li>
    <li><%= button_to "Decrease", cart_path(item_id: item.id), method: "patch", class: "btn" %></li>

  </ul>
</div>
<% end %>
</div>
<br>
<br>
</br>
  <h2 class="cart-total">Cart Total: <%= number_to_currency(@cart.cart_total) %></h2>
</br>
</br>
</br>
  <% if current_user %>
    <h3 class="checkout-button"><%= button_to "Checkout", checkout_index_path %></h3>
  <% else %>
    <h3 class="checkout-button"><%= button_to "Checkout", checkout_index_path, disabled: true %></h3>
    <br>
    <h3><%= link_to "Login/Create Account to Checkout", login_path, method: :get%></h3>
  <% end %>
