<h1>Cart</h1>
<% @accessories.each do |item, count| %>
<div class= "accessory">
  <ul>
    <li>
      <img class='accessory-image' src="<%= item.image %>" alt="holder.jpg" height="50" width="50">
    </li>
    <li>
      <%= item.title %>
    </li>
    <li>
      Price: <%= number_to_currency(item.price) %>
    </li>
    <li>
      Qty: <%= count %>
    </li>
    <li>
      Total: <%= number_to_currency(@cart.total_price) %>
    </li>
  </ul>
  <li><%= button_to "Remove", cart_path(item_id: item.id), method: "delete", class: "btn"%></li>
</div>
  <% end %>
