


<% if @orders.count > 0 %>
  <%= "Your Orders" %>
    <% @orders.each do |order| %>
      <div>
          <ul>
            <li>Order ID: <%= link_to "#{order.id}", order_path(order) %></li>
            <li>Contents: </li>
            <% order.accessory_count.each do |accessory| %>
              <p>Item: <%= accessory[0].title %></p>
              <p>Qty: <%= accessory[1] %></p>
              <p>Item Price: $<%= '%.2f' % accessory[0].price %></p>
            <% end %>
            <li>Order Total: $<%= '%.2f' % order.total_price %></li>
            <% if order.status.downcase == 'paid' || order.status.downcase == 'ordered' %>
              <%= button_to "Cancel", delete_order_path(order) %>
            <% end %>
          </ul>
      </div>
      </br>
    <% end %>
<% end %>

<ul>
  <li><%= link_to "All Orders", admin_dashboard_path %></li>
  <li><a href="/admin/dashboard?status=Paid">Paid Status</a> </li>
  <li><a href="/admin/dashboard?status=Ordered">Ordered Status</a></li>
  <li><a href="/admin/dashboard?status=Cancelled">Cancelled Status</a></li>
  <li><a href="/admin/dashboard?status=Completed">Completed Status</a></li>
</ul>

<% if @all_orders.count > 0 %>
    <% @all_orders.each do |order| %>
      <div>
          <ul>
            <li>Order ID: <%= link_to "#{order.user.name}", order_path(order) %>: <%= link_to "#{order.id}", order_path(order) %></li>
            <li>Contents: </li>
            <% order.accessory_count.each do |accessory| %>
              <p>Item: <%= accessory[0].title %></p>
              <p>Qty: <%= accessory[1] %></p>
              <p>Item Price: $<%= '%.2f' % accessory[0].price %></p>
            <% end %>
            <li>Order Total: $<%= '%.2f' % order.total_price %></li>
            <% if order.status.downcase == 'ordered'%>
              <%= form_for order do |f| %>
                <%= f.button 'Mark as Paid', type: 'submit', name: 'status', value: 'paid' %>
              <% end %>
            <% end %>
            <% if order.status.downcase == 'paid'%>
              <%= form_for order do |f| %>
                <%= f.button 'Mark as Completed', type: 'submit', name: 'status', value: 'completed' %>
              <% end %>
            <% end %>
            <% if order.status.downcase == 'paid' || order.status.downcase == 'ordered' %>
              <%= button_to "Cancel", order_path(order), method: 'delete'%>
            <% end %>
          </ul>
      </div>
      </br>
    <% end %>
<% end %>
