<h1><%= @accessory.title %></h1>

<div class="accessory-show-card">
<ul>
  <div class='image-holder'>
    <img class='accessory-image' src="<%= @accessory.image %>" alt="holder.jpg">
  </div>
  <li>Price: <%= number_to_currency(@accessory.price) %></li>
  <li>Description: <%= @accessory.description %></li>
  <li><% if @accessory.retired == true %>
        <%= "Accessory Retired" %>
      <% else %>
        <li><%= button_to "Add to Cart", cart_path(item_id: @accessory.id), method: "post", class: "btn"%></li>
      <% end %>
  </li>
</ul>
</div>
