<!DOCTYPE html>
<html>
  <head>
    <title>BikeShare</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Open+Sans" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "shared/navigation" %>

    <% if notice %>
      <%= notice %>
    <% end %>

    <% if alert %>
      <%= alert %>
    <% end %>

      <% if flash[:warning] %>
     <div class="remove"><%= flash[:warning].html_safe %></div>
     <% end %>


    <%= yield %>
  </body>
</html>
